<tr>
    <td><font color=%levelColor%>%level%</font></td>
    <td><font color=%spawnColor%>%name%</font></td>
    <td><button value="View" action="%action%" width=40 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>