<tr>
    <td><font color=%regionColor%>%region%</font></td>
    <td>%size%</td>
    <td><button value="Display" action="%showAction%" width=65 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    <td><button value="Teleport" action="%teleportAction%" width=65 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>