<table width=270 border=0>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=50><font color="LEVEL">Id</font></td><td align=right width=220>%id%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=50><font color="LEVEL">Type</font></td><td align=right width=220>%type%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Dynamic Id</font></td><td align=right width=170>%dynamicId%</td></tr></table></td></tr>
</table>
<table width=270 border=0>
    <tr>
        <td><button value="View" action="%viewAction%" width=40 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="View Shape" action="%shapeAction%" width=80 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
        <td><button value="Teleport" action="%teleportAction%" width=80 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
    </tr>
</table>
<img src="L2UI.SquareWhite" width=270 height=1><br>
<br><br>