<center><font color=b22222>Extractable Items</font></center><br>
<table border=0 width="100%">
    <tr>
        <td width="36"><font color="LEVEL">Icon</font></td>
        <td width="175"><font color="LEVEL">Name</font></td>
        <td width="55"><font color="LEVEL">Count</font></td>
    </tr>
    %items%
</table>