<table border="0" width="100%">
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">RecipeId</font></td><td align=right width=170><font color=00FF00>%recipeId%</font></td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Craft Level</font></td><td align=right width=170>%craftLevel%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Success Rate</font></td><td align=right width=170><font color=00FF00>%successRate%</font> %</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Uses Stat</font></td><td align=right width=170>%stat%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Stat Amount</font></td><td align=right width=170>%statAmount%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Type</font></td><td align=right width=170>%type%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=120><font color="LEVEL">Produces Item Grade</font></td><td align=right width=100><font color=%crystalColor%>%crystalGrade%</font></td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Produces Item</font></td><td align=right width=170><font color=999999>%productionItemName%</font></td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=130><font color="LEVEL">Produces Amount</font></td><td align=right width=100>%productionAmount%</td></tr></table></td></tr>
</table><br><br>
<center><font color=b22222>Recipe Required Materials</font></center><br>
<table border=0 width="100%">
    <tr>
        <td width="36"><font color="LEVEL">Icon</font></td>
        <td width="195"><font color="LEVEL">Name</font></td>
        <td width="40"><font color="LEVEL">Count</font></td>
    </tr>
    %items%
</table>