<tr>
    <td width=36 height="36"><img src="%icon%" width=32 height=32></td>
    <td>%name%</td>
    <td>%amount%</td>
    <td><button value="Remove" action="bypass -h %action%" width=60 height=21 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
</tr>