<table width=332 cellpadding=2 cellspacing=0 background="L2UI_CT1.Windows.Windows_DF_TooltipBG">
    <tr><td width=32 valign=top><img src="%icon%" width=32 height=32></td>
        <td fixwidth=300 align=center><font name="hs9" color="CD9000">%name%</font></td>
    </tr>
    <tr>
        <td width=32></td>
        <td width=300>
            <table width=295 cellpadding=0 cellspacing=0>
                <tr><td width=48 align=right valign=top><font color="LEVEL">Amount:</font></td>
                    <td width=247 align=center>%amount%</td>
                </tr>
                <tr>
                    <td width=48 align=right valign=top><font color="LEVEL">Chance:</font></td>
                    <td width=247 align=center>%chance% %</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr><td width=32></td><td width=300>&nbsp;</td></tr>
</table>