<br>
<center><font color=B25922>Npcs Using Route</font></center><br>
<table border=0 width="100%">
    <tr>
        <td width="50"><font color="LEVEL">NpcId</font></td>
        <td width="70"><font color="LEVEL">Type</font></td>
        <td width="110"><font color="LEVEL">Name</font></td>
        <td width="50"><font color="LEVEL">Action</font></td>
    </tr>
    %items%
</table>