<br>
<center><font color=B25922>Route Points</font></center><br>
<table border=0 width="100%">
    <tr>
        <td width="30"><font color="LEVEL">Idx</font></td>
        <td width="60"><font color="LEVEL">X</font></td>
        <td width="60"><font color="LEVEL">Y</font></td>
        <td width="60"><font color="LEVEL">Z</font></td>
        <td width="60"><font color="LEVEL">Geo Z</font></td>
    </tr>
    %items%
</table>