<tr>
    <td>%npcId%</td>
    <td>%npcName%</td>
    <td>%distance%</td>
    <td>%type%</td>
    <td><button value="View" width=60 height=25 action="%viewNpc%" back="L2UI_CT1.Button_DF_Calculator_Down" fore="L2UI_CT1.Button_DF_Calculator"/></td>
    <td><button value="Teleport To" width=80 height=25 action="%teleport%" back="L2UI_CT1.Button_DF_Calculator_Down" fore="L2UI_CT1.Button_DF_Calculator"/></td>
</tr>