<img src="L2UI.SquareWhite" width=260 height=1><br>
<table width=270 border=0>
    <tr><td colspan="4"><table width=270 border=0><tr><td width=270><font color="LEVEL">Name</font> : %name% [ <font color=00FF00>%skillSize%</font> skills ]</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Id</font></td><td align=right width=170>%id%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Uses (Max) </font></td><td align=right width=170><font color=00FF00>%uses%</font> ( %maxUses% )</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Expires:</font></td><td align=right width=170><font color=999999>%expiration%</font></td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">Delay (seconds):</font></td><td align=right width=170>%delay%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Skill chance:</font></td><td align=right width=170>%chance%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0><tr><td width=100><font color="LEVEL">HP use chances:</font></td><td align=right width=170>%useChances%</td></tr></table></td></tr>
    <tr><td><table width=270 border=0 bgcolor=131210><tr><td width=100><font color="LEVEL">Power:</font></td><td align=right width=170>%power%</td></tr></table></td></tr>
</table><br>
<table width=270 border=0>%skills%</table><br>